@import "tailwindcss";

/* Variables */
@theme {
	/* Breakpoints */
	--breakpoint-*: initial;
	--breakpoint-mobile: 640px;
	--breakpoint-tablet: 768px;
	--breakpoint-laptop: 1024px;
	--breakpoint-desktop: 1280px;
	/* Container */
	--container-padding: 0 16px;
	--container-max-width: 1312px;
	/* Fonts */
	--font-inter: "Inter", serif;
	/* Colors */
	--color-primary: #282561;
	--color-violet-300: #524cc7;
	--color-gray-400: #525252;
}

@layer base {
	h1 {
		@apply tablet:text-4xl laptop:text-5xl text-3xl leading-snug font-semibold;
	}
	h2 {
		@apply tablet:text-3xl laptop:text-4xl text-3xl leading-snug font-semibold;
	}
}

/* Container max-width & paddings */
@utility container {
	@apply mx-auto max-w-[var(--container-max-width)] p-[var(--container-padding)];
}

@layer components {
	.btn {
		@apply border-primary flex max-w-fit cursor-pointer items-center justify-center gap-3 rounded-full border px-5 py-2 font-semibold;
	}
	.checkbox {
		@apply checked:bg-primary size-5 cursor-pointer appearance-none rounded-sm border-3 border-white bg-white p-1 checked:rounded-sm;
	}
	.input {
		@apply w-full rounded-sm border border-white px-4 py-2 text-white outline-white placeholder:text-white/70;
	}
}

@layer utilities {
	/* Mobile Menu With Drawer */
	.mobile-menu.open {
		@apply left-0;
	}
	.btn.btn-secondary {
		@apply hover:text-primary border-white text-white transition-colors hover:bg-white;
	}
	.btn.btn-primary {
		@apply border-primary text-primary hover:bg-primary transition-colors hover:text-white;
	}
}
