@import "tailwindcss";

/* Variables */
@theme {
  /* Breakpoints */
  --breakpoint-*: initial;
  --breakpoint-tablet: 768px;
  --breakpoint-laptop: 1024px;
  --breakpoint-desktop: 1280px;
  /* Container */
  --container-padding: 0 12px;
  --container-max-width: 1304px;
  /* Fonts */
  --font-openSans: "Open Sans", sans-serif;

  /* Colors */
  --color-gray-100: #efefef;
  --color-gray-200: #e0e0e0;
  --color-gray-300: #949494;
  --color-gray-400: #636363;
  --color-gray-500: #505050;
  --color-gray-600: #313131;

  --color-purple-300: #533ecd;
  --color-purple-400: #402f9e;

  --color-blue-900: #160964;
  --color-blue-950: #1b172e;
}

@layer base {
  h1 {
    @apply tablet:text-4xl laptop:text-5xl text-3xl leading-tight font-semibold;
  }
  h2 {
    @apply tablet:text-5xl text-[42px] leading-normal font-semibold;
  }
  body {
    @apply font-openSans bg-gray-100;
  }
}

/* Container max-width & paddings */
@utility container {
  @apply mx-auto max-w-[var(--container-max-width)] p-[var(--container-padding)];
}

@layer components {
  .btn {
    @apply flex max-w-fit cursor-pointer items-center justify-center gap-3 rounded-full border border-purple-400 px-5 py-2 font-semibold;
  }
  .checkbox {
    @apply size-5 cursor-pointer appearance-none rounded-sm border-3 border-white bg-white p-1 checked:rounded-sm checked:bg-purple-400;
  }
  .input {
    @apply w-full rounded-sm border border-white px-4 py-2 text-white outline-white placeholder:text-white/70;
  }
}

@layer utilities {
  /* Mobile Menu With Drawer */
  .mobile-menu.open {
    @apply left-0;
  }
  /* Buttons */
  .btn.btn-secondary {
    @apply border-white text-white transition-colors hover:bg-white hover:text-purple-400;
  }
  .btn.btn-purple-400 {
    @apply border-purple-400 text-purple-400 transition-colors hover:bg-purple-400 hover:text-white;
  }
}
